.blog {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  color: var(--on-background);
}

.thumbnail {
  width: 100%;
}

.blog-title {
  margin-top: 14px;
}

.blog-subtitle {
  font-size: 1.5rem;
  color: var(--inactive);
}

.blog-date {
  font-size: 1.25rem;
}

p {
  margin: 0;
}

.clear-floats {
  clear: both;
  display: block;
}