<article class="blog" *ngIf="this.post; else notFound">
  <header>
    <img class="thumbnail" src="{{ thumbnailUrl() + '_1920w.jpg' }}" srcset="{{ thumbnailUrl() + '_960w.jpg' }} 960w,
          {{ thumbnailUrl() + '_1920w.jpg' }} 1920w" alt="{{ post.title }}">

    <h1 class="blog-title">{{ post.title }}</h1>
    <span class="blog-subtitle">{{ post.subtitle }}</span>
    <hr>
    <time class="blog-post-date" [attr.datetime]="post.date">{{ date() }}</time>
    <hr>
  </header>
  <markdown [id]="post.id" [type]="'blog'" [markdown]="post.content"></markdown>
  <span class="clear-floats"></span>
</article>
<ng-template #notFound>
  <az-not-found></az-not-found>
</ng-template>