<div class="blog mx-auto" *ngIf="this.post; else notFound">
  <img class="thumbnail" src="{{ thumbnailUrl() + '_1920w.jpg' }}" srcset="{{ thumbnailUrl() + '_960w.jpg' }} 960w,
          {{ thumbnailUrl() + '_1920w.jpg' }} 1920w" alt="{{ post.title }}">
  <div>
    <h1 class="title">{{ post.title }}</h1>
    <h5 class="text-secondary">{{ post.subtitle }}</h5>
    <hr>
    <h6 class="text-secondary">{{ date() }}</h6>
    <hr>
  </div>
  <markdown [id]="post.id" [type]="'blog'" [markdown]="post.content"></markdown>

</div>
<ng-template #notFound>
  <az-not-found></az-not-found>
</ng-template>