<article class="blog" *ngIf="this.post; else notFound">
  <header>
    <img class="thumbnail" src="{{ thumbnailUrl() + '_1920w.jpg' }}" alt="{{ post.title }}">

    <h1 class="blog-title">{{ post.title }}</h1>
    <p class="blog-subtitle">{{ post.subtitle }}</p>
    <hr>
    <p *ngIf="post.date" class="blog-date">
      <time [attr.datetime]="post.date">{{ date() }}</time>
    </p>
    <hr>
  </header>
  <markdown [id]="post.id" [type]="'blog'" [markdown]="post.content"></markdown>
  <span class="clear-floats"></span>
</article>
<ng-template #notFound>
  <az-not-found></az-not-found>
</ng-template>