<div *ngIf="this.project !== null; else notFound">
  <div class="row">
    <div class="col-lg-2">
      <!-- Desktop nav -->
      <nav class="navbar navbar-light pl-0 d-none d-lg-block">
        <ul class="nav navbar-nav flex-column">
          <li class="nav-item" routerLinkActive="active" *ngFor="let project of projects">
            <a class="nav-link" [routerLink]="['/projects/' + project.id]">{{ project.title }}</a>
          </li>
        </ul>
      </nav>

      <!-- Mobile dropdown -->
      <div class="dropdown mb-2 d-lg-none">
        <button class="btn btn-lg dropdown-toggle border text-left" type="button" data-toggle="dropdown">
          {{ project ? project.title : 'Select a Project...' }}</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" *ngFor="let project of projects" routerLinkActive="active"
            [routerLink]="['/projects/' + project.id]">
            {{ project.title }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <az-project-detail *ngIf="project !== undefined; else overview" [project]="project">
      </az-project-detail>
      <ng-template #overview>
        Project Overview
      </ng-template>
    </div>
  </div>
</div>
<ng-template #notFound>
  <az-not-found></az-not-found>
</ng-template>