<div *ngIf="this.project !== null; else notFound" class="project-list">
  <nav class="desktop-project-select">
    <ul class="project-links">
      <li class="project-link" *ngFor="let project of projects">
        <a [routerLink]="[project.id]" routerLinkActive="active">{{ project.title }}</a>
      </li>
    </ul>
  </nav>
  <select class="mobile-project-select-temp">
    <option>Mobile Project Select Placeholder</option>
    <option *ngFor="let project of projects">
      {{ project.title }}
    </option>
  </select>
  <article>
    <router-outlet></router-outlet>
  </article>
</div>
<ng-template #notFound>
  <az-not-found></az-not-found>
</ng-template>