@use 'sass:map';
@use 'variables' as *;
@use 'mixins';
@use 'breakpoints';

.title {
  font-size: 4em;
  font-weight: 300;
  padding: 10px;
  text-align: center;

  a {
    color: map-get($colors, 'on-background');

    &:hover {
      color: lighten(map-get($colors, 'on-background'), 25%);
    }
  }

  display: none;

  @include breakpoints.desktop {
    display: block;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1020;

  @include breakpoints.desktop {
    position: sticky;
  }

  min-height: 68px;

  padding-top: 10px;
  padding-bottom: 10px;

  background: var(--background);
}

.mobile-spacer {
  height: 68px;

  @include breakpoints.desktop {
    display: none;
  }
}

.navbar, .mobile-spacer {
  margin-bottom: 16px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include mixins.container;
}

.navbar-left, .navbar-right {
  width: 30px;
  @include breakpoints.desktop {
    width: 280px;
  }
}

.navbar-right {
  order: 2;
}

.navbar-logo, .navbar-mobile-logo {
  font-weight: 500;
  font-size: 1.75em;
  color: map-get($colors, 'on-background');
}

.navbar-logo {
  &:hover {
    color: lighten(map-get($colors, 'on-background'), 25%);
  }

  display: none;

  @include breakpoints.desktop {
    display: block;
  }
}

.navbar-mobile-logo {
  order: 1;

  @include breakpoints.desktop {
    display: none;
  }
}

.navbar-toggler {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding: 0;
  border: 0;
  background: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='#222222' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  @include breakpoints.desktop {
    display: none;
  }
}

ul.navbar-links {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  text-align: center;

  order: 3;
  width: 100%;
  overflow: hidden;

  @include breakpoints.desktop {
    order: 1;
    width: auto;
    display: block;
    height: 100% !important;
  }
}

.navbar-link {
  font-size: 1.5em;
  font-weight: 300;

  padding: 5px;

  @include breakpoints.desktop {
    
  float: left;
  }

  a {
    color: map-get($colors, 'inactive');

    &:hover {
      color: darken(map-get($colors, 'inactive'), 25%);
    }

    &.active {
      color: map-get($colors, 'on-background');
    }
  }
}

.navbar-home-link {
  @include breakpoints.desktop {
    display: none;
  }
}

.navbar-shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

.sticky-sentinel {
  position: absolute;
  height: 0px;
	left: 0px;
  width: 0px;
  top: -5px;
}