<!-- Main Header -->
<div class="title" *ngIf="displayTitle()" [@fadeIn]>
  <a [routerLink]="['/']">ALEX ZHAO</a>
</div>

<!-- Desktop Navbar -->
<nav class="navbar" [ngClass]="{ 'navbar-shadow': isStuck() }">
  <div class="navbar-container">
    <span #stickySentinel class="sticky-sentinel"></span>
    <span class="navbar-logo">
      <a *ngIf="isStuck()" [routerLink]="['/']" [@fadeInOut]>ALEX ZHAO</a>
    </span>
    <ul class="navbar-links">
      <li class="navbar-link">
        <a [routerLink]="['/blog']" routerLinkActive="active">BLOG</a>
      </li>
      <li class="navbar-link">
        <a [routerLink]="['/projects']" routerLinkActive="active">PROJECTS</a>
      </li>
      <li class="navbar-link">
        <a [routerLink]="['/about']" routerLinkActive="active">ABOUT</a>
      </li>
    </ul>
    <a class="navbar-social-links"></a>
  </div>
</nav>

<!-- Mobile Navbar -->
<!-- <nav class="navbar fixed-top navbar-expand-lg bg-white navbar-light d-lg-none navbar-shadow">
  <div class="container nav-container">
    <button class="navbar-toggler" id="toggler" type="button" data-toggle="collapse" data-target="#mobile-navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-brand-mobile mx-auto">ALEX ZHAO</a>
    <button class="navbar-toggler spacer" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="mobile-navbar">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class=" nav-link" [routerLink]="['/']" data-toggle="collapse" data-target="#mobile-navbar">HOME</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/blog']" data-toggle="collapse" data-target="#mobile-navbar">BLOG</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/projects']" data-toggle="collapse"
          data-target="#mobile-navbar">PROJECTS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']" data-toggle="collapse" data-target="#mobile-navbar">ABOUT</a>
      </li>
    </ul>
  </div>
</nav>
<div class="mobile-spacer d-lg-none"></div> -->