<div class="footer bg-dark text-light">
  <div>
    <div class="row footer-items">
      <div class="col-md-auto text-center ml-auto">
        <a class="text-light" [routerLink]="['/blog']">BLOG</a>
      </div>
      <div class="col-md-auto text-center">
        <a class="text-light" [routerLink]="['/projects']">PROJECTS</a>
      </div>
      <div class="col-md-auto text-center mr-auto">
        <a class="text-light" [routerLink]="['/about']">ABOUT</a>
      </div>
    </div>
    <div class="text-center">
      <a href="https://github.com/oatmonster"><img class="icon" src="../../assets/github-logo.png"></a>
    </div>
  </div>
  <div class="copyright text-center">
    Copyright © 2016–2020, Alex Zhao
  </div>
</div>