@use 'sass:map';
@use 'variables' as *;
@use 'breakpoints';

.footer-navbar {
  width: 100%;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;

  padding-top: 2rem;
  padding-bottom: 2rem;

  background: map-get($colors, primary);
  color: map-get($colors, on-primary);

  background-image: url('../../assets/footer_mobile.png');
  background-position: top;

  @include breakpoints.tablet {
    background-image: url('../../assets/footer_desktop.png');
    background-size: cover;
    background-position: 50% 25%;
  }
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  @include breakpoints.tablet {
    flex-direction: row;
  }
}

.navbar-link {
  font-size: 1.5em;
  font-weight: 300;

  width: 130px;

  margin: 5px 15px;

  text-align: center;

  &.left-link {
    @include breakpoints.tablet {
      text-align: right;
    }
  }

  &.right-link {
    @include breakpoints.tablet {
      text-align: left;
    }
  }

  a {
    color: map-get($colors, 'on-primary');

    &:hover {
      color: darken(map-get($colors, 'on-primary'), 25%);
    }
  }
}

.social-links {
  svg {
    margin: 9px;
    fill: map-get($colors, 'on-primary');
  }

  svg:hover {
    fill: darken(map-get($colors, 'on-primary'), 25%);
  }
}

.copyright {
  font-weight: 200;
}