
.col-md {
  text-align: center;
  padding-bottom: 10px;
}

.footer-items {
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.25em;
  font-weight: 300;
}

.footer {
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../../assets/footer1.png');
  background-size: cover;
  background-position: 50% 25%;
}

.copyright {
  margin-bottom: 40px;
  font-weight: 200;
}

img.icon {
  margin: 10px;
  height: 32px;
  width: 32px;
}