<h2>Bio</h2>
<p>A software developer from Seattle, I am someone who loves learning about and making new things. I am interested in
  everything from programming and machining to horology and fitness equipment. One of my favorite things is diving into
  a new hobby, learning it from the ground up, and talking to all the other wonderful people who share that hobby. I
  believe in doing things right, I hate the perception some people hold that not knowing how to do something is an
  excuse for half-assing it. Not knowing something is a wonderful opportunity to learn from someone else who has
  dedicated themselves to that topic, and in doing so, bettering myself.
</p>
<h2>Experience</h2>
<div class="experience">
  <div>
    <h3 class="border-bottom border-md-0">Technologies</h3>
  </div>
  <div>
    <h4>Comfortable with:</h4>
    <ul>
      <li *ngFor="let skill of strongSkills">{{ skill }}</li>
    </ul>
  </div>
  <div>
    <h4>Exposure to:</h4>
    <ul>
      <li *ngFor="let skill of skills">{{ skill }}</li>
    </ul>
  </div>
</div>