<h2>Bio</h2>
<p>Praesent malesuada ex nulla, in elementum est ultrices accumsan. Nulla euismod condimentum mauris a bibendum. Integer
  ullamcorper id quam id elementum. Ut fringilla orci et pulvinar mattis. Donec eu rutrum urna. Nunc rutrum volutpat
  dolor, non pellentesque enim fringilla et. Nunc at posuere dui, in bibendum justo. Mauris ultrices consequat tempor.
  Aenean sit amet magna ut est finibus ullamcorper a dictum metus. Aenean a orci fringilla, congue mi nec, gravida dui.
  Mauris ut tellus elit. Sed non lorem mattis, ornare erat at, consequat ante. Pellentesque tristique nisi nec massa
  molestie, eget aliquam lacus dapibus. Cras enim massa, mattis non est a, egestas lacinia magna.
</p>
<h2>Résumé</h2>
<div class="row mt-md-4">
  <div class="col-md-4">
    <h3 class="border-bottom border-md-0">Technologies</h3>
  </div>
  <div class="col-md-4">
    <h4>Comfortable with:</h4>
    <ul>
      <li *ngFor="let skill of strongSkills">{{ skill }}</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Exposure to:</h4>
    <ul>
      <li *ngFor="let skill of skills">{{ skill }}</li>
    </ul>
  </div>
</div>