<h2>Bio</h2>
<p>
  A software developer from Seattle, in love with building things. I'm interested in everything from programming and
  machining to hydroponics and fitness equipment. One of my favorite things is diving into a brand new hobbies. It's a
  lot fun to be able to meet all the interesting people who are super into something, and to be able to learn form them.
  Not knowing something is nothing to be ashamed of, as long as you use it as an opportunity to learn something new.
</p>
<h2>Experience</h2>
<div class="experience">
  <div>
    <h3 class="border-bottom border-md-0">Technologies</h3>
  </div>
  <div>
    <h4>Comfortable with:</h4>
    <ul>
      <li *ngFor="let skill of strongSkills">{{ skill }}</li>
    </ul>
  </div>
  <div>
    <h4>Exposure to:</h4>
    <ul>
      <li *ngFor="let skill of skills">{{ skill }}</li>
    </ul>
  </div>
</div>