@use 'breakpoints';

.experience {

  h4 {
    margin-top: 0;
  }

  @include breakpoints.tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    >div>* {
      margin-top: 0;
    }
  }
}