$breakpoints: (
  tablet: 600px,
  desktop: 1200px,
);

// Fonts
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-serif: serif;
$font-family-monospace: 'Source Code Pro', monospace;

// Colors

