<article class=blog-thumbnail>
  <div class="image-container">
    <a [routerLink]="['/blog/' + post.id]">
      <img class="thumbnail-image" src="{{ thumbnailUrl() + '_1920w.jpg' }}" srcset="{{ thumbnailUrl() + '_960w.jpg' }} 960w,
          {{ thumbnailUrl() + '_1920w.jpg' }} 1920w" alt="{{ post.title }}">
    </a>
  </div>
  <div class="blog-details">
    <h1 class="blog-title">
      <a [routerLink]="['/blog/' + post.id]">{{ post.title }}</a>
    </h1>
    <p class="blog-subtitle">{{ post.subtitle }}</p>
    <p *ngIf="post.date" class="blog-date">
      <time [attr.datetime]="post.date">{{ date() }}</time>
    </p>
  </div>
</article>