<div class="row" *ngIf="size">
  <div [ngClass]="['col-' + size, 'order-' + size + '-last']">
    <div class="img-container">
      <a [routerLink]="['/blog/' + post.id]">
        <img class="thumbnail" src="{{ post.thumbnailUrl }}">
      </a>
    </div>
  </div>
  <div class="info" [ngClass]="['col-' + size + '-4', 'order-' + size + '-first']">
    <h1 class="mt-1">
      <a class="text-dark" [routerLink]="['/blog/' + post.id]">{{ post.title }}</a>
    </h1>
    <p class="text-muted subtitle">{{ post.subtitle }}</p>
    <p *ngIf="post.date" class="text-muted">{{ date() }}</p>
  </div>
</div>