@use 'breakpoints';

.blog-list {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoints.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.desktop {
    grid-template-columns: 1fr;
  }
}

.blog-post {
  padding: .5em;
}

.blog-post:not(.first) {
  border-top: 1px solid var(--muted);

  @include breakpoints.tablet {
    border-top: 0;
  }

  @include breakpoints.desktop {
    border-top: 1px solid var(--muted);
  }
}

.not-found {
  text-align: center;
  margin-top: 40px;
}