@use 'breakpoints';

.blog-list {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoints.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.desktop {
    grid-template-columns: 1fr;
  }

  grid-column-gap: 1em;
}

.not-found {
  text-align: center;
  margin-top: 40px;
}