@use 'sass:map';
@use 'variables' as *;
@use 'breakpoints';

.blog-list {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoints.tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 36px;
    column-gap: 36px;
  }

  @include breakpoints.desktop {
    grid-template-columns: 1fr;
  }
}

.blog-post {
  padding-top: 18px;
  margin-bottom: 18px;
}

.blog-post:not(.first) {
  border-top: 1px solid var(--muted);

  @include breakpoints.tablet {
    border-top: 0;
  }

  @include breakpoints.desktop {
    border-top: 1px solid var(--muted);
  }
}

.pagination {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  >li {
    margin-left: 5px;
    margin-right: 5px;

    font-weight: 500;

    &.disabled, &.divider, &.active {
      cursor: default;
      color: map-get($colors, 'muted')
    }

    &.page-link:not(disabled) {
      >a{
        color: map-get($colors, 'on-background');

        &:hover {
          color: lighten(map-get($colors, 'on-background'), 25%);
        }
      }
    }
  }
}

.not-found {
  text-align: center;
  margin-top: 40px;
}