<div class=row>
  <div *ngFor="let post of posts; let i = index" class="mb-2 mb-xl-4 pt-3 pt-xl-4 col-12 col-md-6 col-xl-12"
    [ngClass]="{ 'border-xl-top': i > 0, 'border-md-0': i > 0, 'border-top': i > 0 }">
    <az-blog-thumbnail [post]="post" [size]="'xl'"></az-blog-thumbnail>
  </div>
</div>

<ul *ngIf="!!posts" class="pagination justify-content-center">
  <li class="page-item" [ngClass]="{ 'disabled': page <= 1 }">
    <a class="page-link" [routerLink]="['/blog']" [queryParams]="{ page: page-1 }">
      PREV
    </a>
  </li>
  <li class="divider">
    |
  </li>
  <ng-container *ngFor="let pageLink of pages">
    <li class="page-item" [ngClass]="{ 'active disabled': page === pageLink }">
      <a class="page-link" [routerLink]="['/blog']" [queryParams]="{ page: pageLink }">{{ pageLink }}</a>
    </li>
    <li class="divider">
      |
    </li>
  </ng-container>
  <li class="page-item" [ngClass]="{ 'disabled': page >= pageCount }">
    <a class=" page-link" [routerLink]="['/blog']" [queryParams]="{ page: page+1 }">
      <span>NEXT</span>
    </a>
  </li>
</ul>