
markdown {
  // Forces all the elements to inline 
  &[inline] { * { display: inline; } }

  // Table cells alignement
  td {
    &[md-align="left"] { text-align: left; }
    &[md-align="center"] { text-align: center; }
    &[md-align="right"] { text-align: right; }
  }

  .embeded-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .embeded-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  // Block alignement
  span {

    // Aligns children headings and paragraphs
    &[md-align="left"]  { 
      & > h1, h2, h3, h4, h5, h6, p { 
        text-align: left; 
      }
      // Aligns children tables
      & > table {
        margin-right: auto; 
      }
    }
      
    &[md-align="center"] { 
      & > h1, h2, h3, h4, h5, h6, p { 
        text-align: center; 
      }
      & > table { 
        margin-left: auto; 
        margin-right: auto; 
      }
    }

    &[md-align="right"] { 
      & > h1, h2, h3, h4, h5, h6, p { 
        text-align: right; 
      }
      & > table { 
        margin-left: auto; 
      }
    }
  }
}